<!-- BOTTOM -->
		<section class="uk-section uk-section-default uk-margin-xlarge-top">
			
			<div class="uk-container uk-container-xsmall uk-text-center uk-section uk-padding-remove-top">
				<h5 class="uk-text-primary">HOW TO</h5>
				<h2 class="uk-margin-remove uk-h1">HOW TO USE OfflineSiteBackup</h2>
			</div>
			<div class="uk-container">
				<div class="uk-grid uk-grid-large uk-child-width-1-3@m" data-uk-grid="" data-uk-scrollspy="target: &gt; div; delay: 150; cls: uk-animation-slide-bottom-medium">
					<div class="uk-text-center uk-first-column" style="visibility: hidden;">
						<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/marketing-3.svg" data-uk-img="" alt="Image">
						<h4 class="uk-margin-small-bottom uk-margin-top uk-margin-remove-adjacent">Choose a Webpage</h4>
						<p>Select the URL of the webpage you want to create backup of make sure it is in http:// or https:// form. Copy it to your clipboard</p>
					</div>
					<div class="uk-text-center" style="visibility: hidden;">
						<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/marketing-4.svg" data-uk-img="" alt="Image">
						<h4 class="uk-margin-small-bottom uk-margin-top uk-margin-remove-adjacent">Creating Backup</h4>
						<p>Paste the URL in the input box at the homepage of this site. Then, click "create backup" button. It'll take a minute or two to create the backup.</p>
					</div>
					<div class="uk-text-center" style="visibility: hidden;">
						<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/marketing-5.svg" data-uk-img="" alt="Image">
						<h4 class="uk-margin-small-bottom uk-margin-top uk-margin-remove-adjacent">Downloading files</h4>
						<p>You will be presented with the dialogue box with download link as well as download button. Click on either of them to get the files in .zip format. The link stays alive for next 10 minutes of requesting backup</p>
					</div>
				</div>
			</div>
		</section>
		<!-- BOTTOM -->

		
