<!-- OFFCANVAS -->
<div id="offcanvas-nav" data-uk-offcanvas="flip: true; overlay: false" class="uk-offcanvas">
	<div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
		<button class="uk-offcanvas-close uk-close uk-icon" type="button" data-uk-close=""><svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg" data-svg="close-icon"><line fill="none" stroke="#000" stroke-width="1.1" x1="1" y1="1" x2="13" y2="13"></line><line fill="none" stroke="#000" stroke-width="1.1" x1="13" y1="1" x2="1" y2="13"></line></svg></button>
		<ul class="uk-nav uk-nav-default">
			<li class="uk-nav-header">MENU</li>
			<li><a href="/"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: home"></span>HOME</a></li>
			<li><a href="/about"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: table"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="table"><rect x="1" y="3" width="18" height="1"></rect><rect x="1" y="7" width="18" height="1"></rect><rect x="1" y="11" width="18" height="1"></rect><rect x="1" y="15" width="18" height="1"></rect></svg></span> ABOUT</a></li>
			<li><a href="/how-to"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: thumbnails"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="thumbnails"><rect fill="none" stroke="#000" x="3.5" y="3.5" width="5" height="5"></rect><rect fill="none" stroke="#000" x="11.5" y="3.5" width="5" height="5"></rect><rect fill="none" stroke="#000" x="11.5" y="11.5" width="5" height="5"></rect><rect fill="none" stroke="#000" x="3.5" y="11.5" width="5" height="5"></rect></svg></span> HOW TO</a></li>
			
			<ul class="uk-nav-sub">
				<li><a href="/privacy">PRIVACY POLICY</a></li>
			</ul>
			

		</ul>
		
		<p>OfflineSiteBackup 2019-20</p>
	</div>
</div>
<!-- /OFFCANVAS -->

{{!-- <div id="modal-full" class="uk-overlay-primary uk-position-cover"></div>
<div class="uk-overlay uk-position-bottom uk-light">
	<p>Default Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div> --}}

<!-- This is the modal -->

<div id="modal-center" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical uk-align-center">
        <p class="uk-align-center">Creating backup... </p>
		<p class="uk-align-center">Please do not exit or refresh the page...</p>
		<img class="uk-align-center" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/loading.svg" data-uk-img="" alt="Image" height="75" width="75">

    </div>
</div>


<div id="modal-final-dl" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical uk-align-center">
		<button class="uk-modal-close-default" type="button" uk-close></button>
        <p class="uk-align-center">Click below to download</p>
		<button id="final-dl-btn" class="uk-align-center uk-button uk-button-primary uk-button-small">Download <a id="dl-icon" uk-icon="download"></a></button>
		<p id="dl-link"></p>
    </div>
</div>

<!-- This is the modal -->
