<!-- OFFCANVAS -->
<div id="offcanvas-nav" data-uk-offcanvas="flip: true; overlay: false" class="uk-offcanvas">
	<div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
		<button class="uk-offcanvas-close uk-close uk-icon" type="button" data-uk-close=""><svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg" data-svg="close-icon"><line fill="none" stroke="#000" stroke-width="1.1" x1="1" y1="1" x2="13" y2="13"></line><line fill="none" stroke="#000" stroke-width="1.1" x1="13" y1="1" x2="1" y2="13"></line></svg></button>
		<ul class="uk-nav uk-nav-default">
			<li class="uk-active"><a href="">Active</a></li>
			<li class="uk-parent">
				<a href="">Parent</a>
				<ul class="uk-nav-sub">
					<li><a href="">Sub item</a></li>
					<li><a href="">Sub item</a></li>
				</ul>
			</li>
			<li class="uk-nav-header">Header</li>
			<li><a href=""><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: table"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="table"><rect x="1" y="3" width="18" height="1"></rect><rect x="1" y="7" width="18" height="1"></rect><rect x="1" y="11" width="18" height="1"></rect><rect x="1" y="15" width="18" height="1"></rect></svg></span> Item</a></li>
			<li><a href=""><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: thumbnails"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="thumbnails"><rect fill="none" stroke="#000" x="3.5" y="3.5" width="5" height="5"></rect><rect fill="none" stroke="#000" x="11.5" y="3.5" width="5" height="5"></rect><rect fill="none" stroke="#000" x="11.5" y="11.5" width="5" height="5"></rect><rect fill="none" stroke="#000" x="3.5" y="11.5" width="5" height="5"></rect></svg></span> Item</a></li>
			<li class="uk-nav-divider"></li>
			<li><a href=""><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: trash"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="trash"><polyline fill="none" stroke="#000" points="6.5 3 6.5 1.5 13.5 1.5 13.5 3"></polyline><polyline fill="none" stroke="#000" points="4.5 4 4.5 18.5 15.5 18.5 15.5 4"></polyline><rect x="8" y="7" width="1" height="9"></rect><rect x="11" y="7" width="1" height="9"></rect><rect x="2" y="3" width="16" height="1"></rect></svg></span> Item</a></li>
		</ul>
		<h3>Title</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	</div>
</div>
<!-- /OFFCANVAS -->

{{!-- <div id="modal-full" class="uk-overlay-primary uk-position-cover"></div>
<div class="uk-overlay uk-position-bottom uk-light">
	<p>Default Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div> --}}

<!-- This is the modal -->

<div id="modal-center" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical uk-align-center">
        <h2 class="uk-align-center">Creating backup... </h2>
		<h3 class="uk-align-center">Please do not exit or refresh the page...</h3>
		<img class="uk-align-center" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/loading.svg" data-uk-img="" alt="Image" height="75" width="75">
		
    </div>
</div>


<div id="modal-final-dl" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical uk-align-center">
		<button class="uk-modal-close-default" type="button" uk-close></button>
        <h3 class="uk-align-center">Click below to download</h2>
		<button id="final-dl-btn" class="uk-align-center uk-button uk-button-primary uk-button-small">Download <a id="dl-icon" href="" uk-icon="download"></a></button>
		<h4 id="dl-link"></h4>
    </div>
</div>