<section class="uk-cover-container overlay-wrap">
    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="https://picsum.photos/640/650/?image=770 640w,
    https://picsum.photos/960/650/?image=770 960w,
    https://picsum.photos/1200/650/?image=770 1200w,
    https://picsum.photos/2000/650/?image=770 2000w" data-sizes="100vw" data-src="https://picsum.photos/1200/650/?image=770" alt="" data-uk-cover="" data-uk-img="" class="uk-cover" style="height: 1350px; width: 1350px;">
    <div class="uk-container uk-position-z-index uk-position-relative uk-section uk-section-xlarge uk-light">
        <div class="uk-grid uk-flex-right">
            
            <div class="uk-width-2-5@m" data-uk-parallax="y: 50,-50; easing: 0; media:@l" style="transform: translateY(50px);">
                <h6>TESTIMONIALS</h6>
                <div class="uk-position-relative uk-visible-toggle uk-light uk-slider uk-slider-container" data-uk-slider="easing: cubic-bezier(.16,.75,.47,1)">
                    <ul class="uk-slider-items uk-child-width-1-1" style="transform: translateX(0px);">
                        <li tabindex="-1" class="uk-active">
                            <div data-uk-slider-parallax="opacity: 0.2,1,0.2" style="opacity: 1;">
                                <h2 class="uk-margin-small-top">"Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur"</h2>
                                <p class="uk-text-meta">Lorena Smith, founder of Some Cool Startup</p>
                            </div>
                        </li>
                        <li tabindex="-1">
                            <div data-uk-slider-parallax="opacity: 0.2,1,0.2" style="opacity: 0.2;">
                                <h2 class="uk-margin-small-top">"Aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur"</h2>
                                <p class="uk-text-meta">Lorena Smith, founder of Some Cool Startup</p>
                            </div>
                        </li>
                        <li tabindex="-1">
                            <div data-uk-slider-parallax="opacity: 0.2,1,0.2" style="opacity: 0.2;">
                                <h2 class="uk-margin-small-top">"Irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur"</h2>
                                <p class="uk-text-meta">Lorena Smith, founder of Some Cool Startup</p>
                            </div>
                        </li>
                    </ul>
                    <ul class="uk-slider-nav uk-dotnav uk-margin-top">
                        <li uk-slider-item="0" class="uk-active">
                            <a href=""></a>
                        </li>
                        <li uk-slider-item="1">
                            <a href=""></a>
                        </li>
                        <li uk-slider-item="2">
                            <a href=""></a>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</section>
