<section class="uk-section uk-section-large " style="background-color: whitesmoke">
    <div class="uk-container">
        <div class="uk-grid uk-child-width-1-2@l uk-flex-middle">
            <div>
                <h6>SIMPLIFY THINGS</h6>
                <h2 class="uk-margin-small-top uk-h1">One click webpage backup !</h2>
                <p class="subtitle-text">
                    OfflineSiteBackup allows you to backup all the data from any webpage. You will be able to download all the files including HTML, CSS, Images and many more...
                </p>
                <a href="/about" class="uk-button uk-button-primary uk-border-pill uk-icon" data-uk-icon="arrow-right">LEARN MORE<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="arrow-right"><polyline fill="none" stroke="#000" points="10 5 15 9.5 10 14"></polyline><line fill="none" stroke="#000" x1="4" y1="9.5" x2="15" y2="9.5"></line></svg></a>
            </div>
            <div data-uk-scrollspy="cls: uk-animation-fade" style="visibility: hidden;">
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/marketing-2.svg" data-uk-img="" alt="Image">
            </div>
        </div>
    </div>
</section>