<section id="content" class="uk-section uk-section-default">
    <div class="uk-container">
        <div class="uk-section uk-section-small uk-padding-remove-top">
            <ul class="uk-subnav uk-subnav-pill uk-flex uk-flex-center" data-uk-switcher="connect: .uk-switcher; animation: uk-animation-fade">
                <li class="uk-active"><a class="uk-border-pill" href="" aria-expanded="true">Discover</a></li>
                <li><a class="uk-border-pill" href="" aria-expanded="false">Benefits</a></li>
                <li><a class="uk-border-pill" href="" aria-expanded="false">Features</a></li>
            </ul>
        </div>

        <ul class="uk-switcher uk-margin">
            <li class="uk-active">
                <div class="uk-grid uk-child-width-1-2@l uk-flex-middle" data-uk-grid="" data-uk-scrollspy="target: &gt; div; cls: uk-animation-slide-left-medium">
                    <div class="uk-first-column" style="visibility: hidden;">
                        <img src="img/marketing-1.svg" data-src="img/marketing-1.svg" alt="" data-uk-img="">
                    </div>
                    <div data-uk-scrollspy-class="uk-animation-slide-right-medium" style="visibility: hidden;">
                        <h6 class="uk-text-primary">MAIN REASONS</h6>
                        <h2 class="uk-margin-small-top">Take decisions with real time data based on users interaction.</h2>
                        <p class="subtitle-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation.
                        </p>
                        <div class="uk-grid uk-child-width-1-2@s" data-uk-grid="">
                            <div class="uk-first-column">
                                <h4>Great stuff</h4>
                                <p>Ut enim ad minim veniam, quis nostrud magna aliqua exercitation. <a href="">Learn more.</a></p>
                            </div>
                            <div>
                                <h4>Data analysis</h4>
                                <p>Ut enim ad minim veniam, quis nostrud magna aliqua exercitation. <a href="">Learn more.</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="uk-grid uk-child-width-1-2@l uk-flex-middle" data-uk-grid="" data-uk-scrollspy="target: &gt; div; cls: uk-animation-slide-left-medium">
                    <div style="visibility: hidden;">
                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/marketing-8.svg" alt="" data-uk-img="">
                    </div>
                    <div data-uk-scrollspy-class="uk-animation-slide-right-medium" style="visibility: hidden;">
                        <h6 class="uk-text-primary">MAIN REASONS</h6>
                        <h2 class="uk-margin-small-top">Take decisions with real time data based on users interaction.</h2>
                        <p class="subtitle-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation.
                        </p>
                        <div class="uk-grid uk-child-width-1-2@s" data-uk-grid="">
                            <div>
                                <h4>Great stuff</h4>
                                <p>Ut enim ad minim veniam, quis nostrud magna aliqua exercitation. <a href="">Learn more.</a></p>
                            </div>
                            <div>
                                <h4>Data analysis</h4>
                                <p>Ut enim ad minim veniam, quis nostrud magna aliqua exercitation. <a href="">Learn more.</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="uk-grid uk-child-width-1-2@l uk-flex-middle" data-uk-grid="" data-uk-scrollspy="target: &gt; div; cls: uk-animation-slide-left-medium">
                    <div style="visibility: hidden;">
                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/marketing-9.svg" alt="" data-uk-img="">
                    </div>
                    <div data-uk-scrollspy-class="uk-animation-slide-right-medium" style="visibility: hidden;">
                        <h6 class="uk-text-primary">MAIN REASONS</h6>
                        <h2 class="uk-margin-small-top">Take decisions with real time data based on users interaction.</h2>
                        <p class="subtitle-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation.
                        </p>
                        <div class="uk-grid uk-child-width-1-2@s" data-uk-grid="">
                            <div>
                                <h4>Great stuff</h4>
                                <p>Ut enim ad minim veniam, quis nostrud magna aliqua exercitation. <a href="">Learn more.</a></p>
                            </div>
                            <div>
                                <h4>Data analysis</h4>
                                <p>Ut enim ad minim veniam, quis nostrud magna aliqua exercitation. <a href="">Learn more.</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>        
    </div>
</section>
