<!-- TOP -->
<div class="top-wrap uk-position-relative uk-light uk-background-secondary">
    {{> nav }}
    {{!-- //TODO:NAV COMES HERE --}}

    <div class="uk-cover-container uk-light uk-flex uk-flex-middle top-wrap-height">
        
        <!-- TOP CONTAINER -->
        <div class="uk-container uk-flex-auto top-container uk-position-relative uk-margin-medium-top" data-uk-parallax="y: 0,50; easing:0; opacity:0.2" style="transform: translateY(0px); opacity: 1;">
            <div class="uk-width-1-2@s" data-uk-scrollspy="cls: uk-animation-slide-right-medium; target: &gt; *; delay: 150">
                <h6 class="uk-text-primary uk-margin-small-bottom uk-scrollspy-inview uk-animation-slide-right-medium" style="">RESEARCH</h6>
                <h1 class="uk-margin-remove-top uk-scrollspy-inview uk-animation-slide-right-medium" style="">Innovation in your hands.</h1>
                <p class="subtitle-text uk-visible@s uk-scrollspy-inview uk-animation-slide-right-medium" style="">Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco </p>
                <a href="https://zzseba78.github.io/Kick-Off/marketing.html#" title="Learn More" class="uk-button uk-button-primary uk-border-pill uk-scrollspy-inview uk-animation-fade" data-uk-scrollspy-class="uk-animation-fade" style="">LEARN MORE</a>
            </div>
        </div>
        <!-- /TOP CONTAINER -->
        <!-- TOP IMAGE -->
        <img src="./Marketing - UIkit 3 KickOff_files/816-2000x1000.jpg" data-srcset="https://picsum.photos/640/700/?image=816 640w,
        https://picsum.photos/960/700/?image=816 960w,
        https://picsum.photos/1200/900/?image=816 1200w,
        https://picsum.photos/2000/1000/?image=816 2000w" data-sizes="100vw" data-src="https://picsum.photos/1200/900/?image=816" alt="" data-uk-cover="" data-uk-img="" data-uk-parallax="opacity: 1,0.1; easing:0" class="uk-cover" style="height: 675px; width: 1350px; opacity: 1;" sizes="100vw" srcset="https://picsum.photos/640/700/?image=816 640w,
        https://picsum.photos/960/700/?image=816 960w,
        https://picsum.photos/1200/900/?image=816 1200w,
        https://picsum.photos/2000/1000/?image=816 2000w">
        <!-- /TOP IMAGE -->
    </div>
    <div class="uk-position-bottom-center uk-position-medium uk-position-z-index uk-text-center">
        <a href="https://zzseba78.github.io/Kick-Off/marketing.html#content" data-uk-scroll="duration: 500" data-uk-icon="icon: arrow-down; ratio: 2" class="uk-icon"><svg width="40" height="40" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="arrow-down"><polygon points="10.5,16.08 5.63,10.66 6.37,10 10.5,14.58 14.63,10 15.37,10.66"></polygon><line fill="none" stroke="#000" x1="10.5" y1="4" x2="10.5" y2="15"></line></svg></a>
    </div>
</div>
<!-- /TOP -->