<!-- TOP -->
<div class="top-wrap uk-position-relative uk-light uk-background-secondary">
    {{>nav }}

    <div class="uk-cover-container uk-flex uk-flex-middle top-wrap-height">
        <!-- TOP CONTAINER -->
        <div class="uk-container uk-flex-auto top-container uk-position-relative uk-margin-medium-top" data-uk-parallax="y: 0,50; easing:0; opacity:0.2" >
            <div class="uk-width-1-2@s uk-overlay uk-overlay-primary" data-uk-scrollspy="cls: uk-animation-slide-right-medium; target: > *; delay: 150">
                    <h1 class="uk-margin-remove-top">Backup your site</h1>
                    <p class="subtitle-text uk-visible@s">Enter webpage URL below to create and download backup files</p>
                    <form id="siteurl_form" type="post" class="uk-form">
                        <div class="uk-margin">
                            <input class="uk-input" id="site_url" type="url" placeholder="http://www.example.com">
                        </div>
                        <a type="submit" class="uk-button uk-button-primary uk-border-pill" data-uk-scrollspy-class="uk-animation-fade" id="create_backup">Create backup</a>
                    </form>
            </div>
        </div>
        <!-- /TOP CONTAINER -->
        <!-- TOP IMAGE -->
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="img/bg640-700.png 640w,
        img/bg960-700.png 960w,
        img/bg1200-900.png 1200w,
        img/bg2000-1000.png 2000w"
        data-sizes="100vw"
        data-src="img/bg1200-900.png" alt="" data-uk-cover data-uk-img data-uk-parallax="opacity: 1,0.1; easing:0"
        >
        <!-- /TOP IMAGE -->
    </div>
</div>
<!-- /TOP -->