<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Deep crawler</title>
		<!-- CSS FILES -->
		<link rel="stylesheet" type="text/css" href="css/uikit.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
        <!-- JS FILES -->
		<script src="js/uikit.min.js"></script>
		<script src="js/uikit-icons.min.js"></script>
	</head>
	<body style="" cz-shortcut-listen="true">
		{{{ body }}}
	</body>
</html>