<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>OfflineSiteBackup</title>
		<!-- CSS FILES -->
		<link rel="stylesheet" type="text/css" href="../../public/CSS/uikit.min.css">
		<link rel="stylesheet" type="text/css" href="../../public/CSS/style.css">
        <!-- JS FILES -->
		<script type="text/javascript" src="../../public/JS/uikit.min.js"></script>
		<script type="text/javascript" src="../../public/JS/uikit-icons.min.js"></script>
		<script type="text/javascript" src="../../public/JS/req.js"></script>
		<script
			type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"
			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.min.js"></script>
	</head>
	<body style="" cz-shortcut-listen="true">
		{{{ body }}}
	</body>
</html>